<section class="about">
  <div class="about__container">
    <div class="about__contant">
      <h2 class="about__title">People Are Talking About Fork</h2>
    </div>
    <div class="about__items">
      <div class="about__item item-about">
        <div class="item-about__img">
          <img src="@img/About/logo-icon/logo-icon-1.svg" alt="logo-icon" />
        </div>
        <div class="item-about__text">
          <p>
            Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
            Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
          </p>
        </div>
      </div>
      <div class="about__item item-about">
        <div class="item-about__img">
          <img src="@img/About/logo-icon/logo-icon-2.svg" alt="logo-icon" />
        </div>
        <div class="item-about__text">
          <p>
            Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum,
            rhoncus molestie neque ac, mollis eleifend nibh.
          </p>
        </div>
      </div>
      <div class="about__item item-about">
        <div class="item-about__img">
          <img src="@img/About/logo-icon/logo-icon-3.svg" alt="logo-icon" />
        </div>
        <div class="item-about__text">
          <p>
            In efficitur in velit et tempus. Duis nec odio dapibus, suscipit
            erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac
            vehicula.
          </p>
        </div>
      </div>
      <div class="about__item item-about">
        <div class="item-about__img">
          <img src="@img/About/logo-icon/logo-icon-4.svg" alt="logo-icon" />
        </div>
        <div class="item-about__text">
          <p>
            Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
            Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
          </p>
        </div>
      </div>
      <div class="about__item item-about">
        <div class="item-about__img">
          <img src="@img/About/logo-icon/logo-icon-5.svg" alt="logo-icon" />
        </div>
        <div class="item-about__text">
          <p>
            Praesent ut eros tristique, malesuada lectus vel, lobortis massa.
            Nulla faucibus lorem id arcu consequat faucibus.
          </p>
        </div>
      </div>
      <div class="about__item item-about">
        <div class="item-about__img">
          <img src="@img/About/logo-icon/logo-icon-6.svg" alt="logo-icon" />
        </div>
        <div class="item-about__text">
          <p>
            Fusce pharetra erat id odio blandit, nec <br />pharetra eros
            venenatis. Pellentesque porttitor cursus massa et vestibulum.
          </p>
        </div>
      </div>
    </div>
    <div class="about__text-block block-text">
      <div class="block-text__text">
        <p>
          Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris,
          facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu
          libero tincidunt <br>consequat nec elementum orci. Cum sociis natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
      </div>
    </div>
  </div>
</section>
