<header >
    <section class="header">
    <div class="header__container">
    <div class="header__logo">
      <a class="logo-img"  href="#"></a>
      <a href="#" class="header__logo-link"><h1>ForkIO</h1></a>
    </div>
      <nav class="header__menu menu">
          <div class="menu__body">
              <ul class="menu__list">
                  <li class="menu-item">
                      <a href="#" class="menu-link">Overview</a>
                  </li>
                  <li class="menu-item">
                      <a href="#" class="menu-link">About Fork</a>
                  </li>
                  <li class="menu-item">
                      <a href="#" class="menu-link">Buying Options</a>
                  </li>
                  <li class="menu-item">
                      <a href="#" class="menu-link">Support</a>
                  </li>
              </ul>
          </div>
      </nav>
      <a href="#" class="header__button button">Buy Now</a>
      <button type="button" class="icon-menu"><span></span></button>
    </div>
      <div class="header__main main-header">
        <h2 class="main-header__title">Fork App</h2>
        <div class="main-header__text">
            <p>A real gamechanger in the world of web development</p>
        </div>
        <span class="main-header__info">v. 2.8 For Mac and Windows</span>
      </div>
    </section>
    <div class="header__main-footer">
        <div class="main-footer__block">
        <a href="#" class="main-footer__button button">Download For Free Now</a></div>
        <span class="main-footer_info">Unlimited 30-Days Trial Period</span>
    </div>
</header>
