<section class="here__wrapper here">
    <div class="here__content">
        <h2 class="here__title">
            &lt Here is what you get &gt
        </h2>
        <ul class="here__list-items">
            <li class="here__item">
                <img src="../img/here/01.svg" alt="image" class="item__img">
                <div class="here__text">
                    <h2 class="item__title">Creatred to Make The Web Better</h2>
                    <p class="item__description">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
                        odio,
                        ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat
                        volutpat. </p>
                </div>
            </li>
            <li class="here__item">
                <img src="../img/here/02.svg" alt="image">
                <div class="here__text">
                    <h2 class="item__title">Incredibly Powerful Tool</h2>
                    <p class="item__description">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
                        odio,
                        ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat
                        volutpat. </p>
                </div>
            </li>
            <li class="here__item">
                <img src="../img/here/03.svg" alt="image">
                <div class="here__text">
                    <h2 class="item__title">Experimental Stuff</h2>
                    <p class="item__description">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
                        odio,
                        ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat
                        volutpat. </p>
                </div>
            </li>
            <li class="here__item">
                <img src="../img/here/04.svg" alt="image">
                <div class="here__text">
                    <h2 class="item__title">Creatred to Make The Web Better</h2>
                    <p class="item__description">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
                        odio,
                        ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat
                        volutpat. </p>
                </div>
            </li>
        </ul>
        <div class="here__main">
            <img src="../img/here/1.png" alt="image">
        </div>
    </div>
</section>