<section class="pricing__wrapper pricing">
    <div class="pricing__container">
        <h2 class="pricing__title">Fork Subscription Pricing</h2>
        <div class="pricing__cards cards">
            <div class="pricing__cards-item">
                <div class="cards__item">
                    <h2 class="cards__title">Students</h2>
                    <p class="cards__price">$29</p>
                    <span class="cards__price-desc">per month</span>
                    <span class="cards__line"></span>
                    <div class="cards__wrapper">
                        <p class="cards__description">Personal License</p>
                        <div>
                            <a href="#" class="cards__button">purchase</a>
                        </div>
                    </div>
                </div>
                <div class="cards__item">
                    <h2 class="cards__title">professional</h2>
                    <p class="cards__price">$59</p>
                    <span class="cards__price-desc">per month</span>
                    <span class="cards__line"></span>
                    <div class="cards__wrapper">
                        <p class="cards__description">Professional License <span>Email Support</span></p>
                        <div>
                            <a href="#" class="cards__button">purchase</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pricing__cards-item">
                <div class="cards__item agency">
                    <h2 class="cards__title">agency</h2>
                    <p class="cards__price">$99</p>
                    <span class="cards__price-desc">per month</span>
                    <span class="cards__line"></span>
                    <div class="cards__wrapper">
                        <p class="cards__description">1-12 Team Members <span>Phone Support</span></p>
                        <div>
                            <a href="#" class="cards__button">purchase</a>
                        </div>
                    </div>
                </div>
                <div class="cards__item enterprise">
                    <h2 class="cards__title">enterprise</h2>
                    <p class="cards__price">$159
                    </p>
                    <span class="cards__price-desc">per month</span>
                    <span class="cards__line"></span>
                    <div class="cards__wrapper">
                        <p class="cards__description">Unlimited Team Members
                            <span>24/ 7 Phone Support</span>
                        </p>
                        <div>
                            <a href="#" class="cards__button">purchase</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>