.about {
  background: url("../img/About/About-bg.png") no-repeat center;
  background-size: cover;
  max-width: 100%;
  min-height: 786px;
  background-color: #4a3b4d;
  &__contant {
    text-align: center;
  }

  &__title {
    font-family: $fontFamily1;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    padding-top: 107px;
    padding-bottom: 81px;
    @media ( max-width: ($mdT + px)){
      font-size: 42px;
    line-height: 44px;
      padding-top: 87px;
    padding-bottom: 88px;
    }
    @media ( max-width: ($mdM + px)){
      font-size: 36px;
    line-height: 48px;
      padding-top: 57px;
    padding-bottom: 53px;
    }
  }

  &__items {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 112px;
    row-gap: 108px;
    @media ( max-width: ($mdT + px)){
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      column-gap: 78px;
    row-gap: 54px;
    }
    @media ( max-width: ($mdM + px)){
      grid-template-columns: auto;
      gap: 45px;
    }
  }

  &__item {
    display: grid;
    gap: 33px;
    max-width: 315px;
    min-height: 142px;
  }
  &__text-block {
    text-align: center;
   margin-top: 115px;
   @media ( max-width: ($mdT + px)){
    margin-top: 69px;
  }
  @media ( max-width: ($mdM + px)){
    margin-top: 37px;
  }
  }
}
.block-text {
 
  &__text {
    text-align: center;
    font-family: $fontFamily2;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #A291A5;
    padding-bottom: 14px;
    &::after{
      content: '';
      display: block;
      text-align: center;
      height: 2px;
      max-width: 780px;
      margin: 19px auto 5px auto;
      background: #645766;  
  }
  }
}
.item-about {
  &__img {
    display: grid;
    place-items: center;
    height: 64px;
    margin: 0 auto;
  }

  &__text {
    text-align: center;
    font-family: $fontFamily2;
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
}
