.header {
  background: url("../img/Header/Header.png") center no-repeat;
  background-size: cover;
  max-width: 100%;
  min-height: 800px;
  font-family: $fontFamily1;
  &__container {
    display: flex;
    height: 136px;
    align-items: center;
    position: relative;
    @media (max-width: ($mdT + px)) {
      justify-content: space-between;
      background: #27262a;
    }
    @media (max-width: ($mdMs + px)) {
      height: 103px;
    }
  }
  
  &__logo {
    display: flex;
    align-items: center;
    gap: 17px;

  }
  

  &__logo-link {
    font-family: $fontFamily2;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    text-transform: uppercase;
    transition: color 0.5s ease;
    color: $mainColor;
    @media (max-width: ($mdMs + px)) {
      display: none;
    }
    &:hover{
      color: #ffffff;
    }
  }

  &__menu {
    flex: 1 1 auto;
    @media (max-width: ($mdT + px)) {
      position: absolute;
      top: 103px;
      left: 15%;
    }
    @media (max-width: ($mdMs + px)) {
      left: 4%;
    }
  }

  &__button {
    width: 145px;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    padding: 11px 20px;
    margin-left: 48px;
    margin-right: 20px;
    color: #ffffff;
    background-color: #8d81ac;
    transition: background-color 0.5s ease-in-out;
    &:hover {
      background-color: #ffffff;
      color: $mainColor;
    }
    @media (max-width: ($mdMs + px)) {
      align-items: center;
      margin: 0;
    }
  }
  &__main {
    display: grid;
    place-items: center;
    gap: 19px;
    padding-top: 45px;
  }
  &__main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 19px;
  }
}

.logo-img{
  width:43px;
  height: 41px;
  background: url('../img/Header/Logo.svg');
}
.logo-img:hover{
  background: url('../img/Header/logo-hover 1.png');
}
.main-header {
  text-align: center;
  &__title {
    font-family: $fontFamily1;
    font-weight: 700;
    font-size: 82px;
    line-height: 82px;
    @media (max-width: ($mdMs + px)) {
      font-size: 48px;
      line-height: 48px;
    }
  }
  &__text {
    max-width: 713px;
    font-family: $fontFamily2;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #8d81ac;
    @media (max-width: ($mdMs + px)) {
      text-transform: uppercase;
      font-size: 18px;
    }
  }
  &__info {
    font-family: $fontFamily1;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #848e97;
  }
}
.menu {
  &__body {
    @media (max-width: ($mdMs + px)) {
      //  display: none;
      opacity: 0;
      width: 291.9px;
      height: 379px;
      background: #333333;
      z-index: 3;
      overflow: auto;
      transition: opacity 0.5s ease;
    }
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    transition: color 0.5s ease;
    @media (max-width: ($mdT + px)) {
      gap: 46px;
    }
    @media (max-width: ($mdMs + px)) {
      flex-direction: column;
      gap: 35px;
      padding-top: 29px;
    }
  }
}
.menu-item {
  &:last-child {
    @media (min-width: ($mdT + px)) {
      margin-right: 30px;
    }
  }
  @media (max-width: ($mdMs + px)) {
    padding-bottom: 29px;
    border-bottom: 2px solid #3b3b3b;
  }
}
.menu-link {
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $mainColor;
  transition: color 0.5s ease;
  &:hover {
    color: #ffffff;
  }
  @media (max-width: ($mdMs + px)) {
    min-height: 53px;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #ffffff;
    padding-left: 40px;
    &:hover {
      color: $mainColor;
      border-left: 8px solid #8d81ac;
    }
  }
}
.icon-menu {
  display: none;
  @media (max-width: ($mdMs + px)) {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    background: none;
    border: none;
    & span,
    &::before,
    &::after {
      content: "";
      right: 0;
      position: absolute;
      width: 100%;
      height: 3px;
      border-radius: 5px;
      background-color: #fff;
      transition: all 0.5s ease;
    }
    &::before {
      width: 50%;
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    & span {
      top: calc(50% - 1px);
    }
  }
}

.menu-open {
  @media (max-width: ($mdMs + px)) {
    & .icon-menu span {
      top: calc(50% - 1px);
      transform: rotate(-45deg);
    }
    & .icon-menu::before {
      width: 0;
    }
    & .icon-menu::after {
      bottom: calc(50% - 1px);
      transform: rotate(45deg);
    }
    & .menu__body {
      // display: block;
      opacity: 1;
    }
  }
}

.main-footer {
  &__block {
    margin-top: -10px;
  }
  &_info {
    font-family: $fontFamily1;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #848e97;
    padding-top: 19px;
  }

  &__button {
    width: 390px;
    height: 62px;
    text-align: center;
    background-color: $mainColor;
    color: #ffffff;
    padding: 23px 61px;
    transition: background-color 0.5s ease-in-out;
    &:hover {
      background-color: #ffffff;
      color: $mainColor;
      border: 2px solid $mainColor;
    }
    @media (max-width: ($mdMs + px)) {
      width: 290px;
      height: 45px;
      font-size: 18px;
      line-height: 20px;
      padding: 15px 29px;
    }
  }
}
