.here { 
    background-color: #F4F4F4;
    font-family: $fontFamily1;
    padding: 100px 0 40px 0;
    @media (max-width: ($mdM+px)) {
        padding-top: 32px;
    }
    &__content { 
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 1fr);
        column-gap: 50px;
        @media (max-width: ($mdT+px)) {
            display: flex;
            flex-direction: column;
            gap: 50px;
            position: relative;
            padding-top: 60px;
        }
        @media (max-width: ($mdM+px)) {
            padding-top: 0px;
        }
    }
    &__title { 
        font-size: 47px;
        font-weight: 700;
        line-height: 50px;
        color: rgba(141, 129, 172, 1);
        @media (max-width: ($mdT+px)) {
            font-size: 42px;
            line-height: 44px;
            text-align: center;
        }
        @media (max-width: ($mdM+px)) {
            font-size: 32px;
            line-height: 38px;
            max-width: 430px;
            margin: 0 auto;
        }
    }
    &__list-items { 
        grid-column: 1/2;
        grid-row: 1/10;
        padding-left: 90px;
        @media (max-width: ($mdT+px)) {
            padding: 0 40px;
        }
        @media (max-width: ($mdM+px)) {
            padding: 0 20px;
        }
    }
    
    &__item { 
        display: flex;
        justify-content: space-between;
        &:not(:first-child) {
            padding-top: 35px;
        }
        &:nth-child(1) {
            gap: 23px;
        }
        &:nth-child(2) {
            gap: 44px;
        }
        &:nth-child(3) {
            padding-left: 16px;
            gap: 59px;
        }
        &:nth-child(4) {
            padding-left: 11px;
            gap: 53px;
        }
        @media (max-width: ($mdT+px)) {
            max-width: 740px;
        }
        @media (max-width: ($mdM+px)) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            &:not(:first-child) {
                padding-top: 40px;
            }
            &:nth-child(1) {
                img { 
                    width: 111px;
                    height: 64px;
                }
            }
            &:nth-child(2) {
                img { 
                    width: 90px;
                    height: 80px;
                }
            }
            &:nth-child(3) {
                padding-left: 0;
                img { 
                    width: 60px;
                    height: 84px;
                }
            }
            &:nth-child(4) {
                padding-left: 0;
                img { 
                    width: 71px;
                    height: 71px;
                }
            }
        }
    }
    &__text { 
    }
    .item__title { 
        font-size: 16px;
        line-height: 21px;
        color: #323232;
        padding-bottom: 16px;
        @media (max-width: ($mdT+px)) {
            
        }
        @media (max-width: ($mdM+px)) {
            line-height: 16px;
        }
    }
    .item__description { 
        font-size: 14px;
        line-height: 21px;
        color: #848E97;
    }
    &__main { 
        grid-column: 2/3;
        grid-row: 2/10;
        @media (max-width: ($mdT+px)) {
            align-self: flex-end;
        }
        @media (max-width: ($mdM+px)) {
            img {
                max-width: 100%;
            }
        }
    }
}