.pricing { 
    font-family: $fontFamily1;
    background: url(../img/pricing/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    &__container { 
        padding-top: 83px;
    }
    &__title { 
        text-align: center;
        font-size: 48px;
        line-height: 50px;
        font-weight: 700;
        padding-bottom: 112px;
        @media (max-width: ($mdT+px)) {
            font-size: 42px;
            line-height: 44px;
            padding-bottom: 44px;
        }
        @media (max-width: ($mdM+px)) {
            font-size: 28px;
            line-height: 42px;
            padding-bottom: 32px;
        }
    }
    &__cards-item { 
        display: flex;
        justify-content: center;
        gap: 15px;
        max-width: 100%;
        &:not(:first-of-type) { 
            padding-right: 30px;
        }
        &:not(:last-of-type) { 
            padding-left: 30px;
        }
        @media (max-width: ($mdT+px)) {
            flex-direction: row;
            &:not(:first-of-type) { 
                padding-right: 0px;
            }
            &:not(:last-of-type) { 
                padding-left: 0px;
            }
        }
        @media (max-width: ($mdM+px)) {
            flex-direction: column;
            align-self: center;
        }
    }
}

.cards { 
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-bottom: 149px;
    .agency {
        align-self: center;
        transform: scale(1.1);
        margin: 0 12px;
        background-color: rgba(70, 48, 72, 1);
        .cards__title { 
            background: rgba(0, 0, 0, .3);
        }
        @media (max-width: ($mdM+px)) {
            margin-bottom: 25px;
        }
    }
    .enterprise { 
        max-width: 240px;
        @media (max-width: ($mdM+px)) {
            margin-left: 13px;
        }
    }
    &__title { 
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        padding: 36px 0;
        background: rgba(255, 255, 255, .06);
    }
    &__price { 
        padding: 30px 0 20px;
        font-size: 60px;
        line-height: 90px;
        font-weight: 700;
    }
    &__price-desc { 
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
    }
    &__line { 
        height: 5px;
        width: 60px;
        margin: 38px 90px 30px;
        background: #8D81AC;
    }
    &__description { 
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        span { 
            display: block;
        }
    }
    &__wrapper { 
        padding-bottom: 51px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 150px;
    }
    &__button { 
        padding: 15px 38px;
        margin: 30px;
        color: #fff;
        background: rgba(255, 255, 255, .15);
        border-radius: 40px;
    }
    &__item { 
        max-width: 257px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, .11);
    }
    @media (max-width: ($mdT+px)) {
        flex-direction: column;
        gap: 50px; 
    }
    @media (max-width: ($mdM+px)) {
        display: flex; 
        flex-direction: column;
        align-items: center;
        column-gap: 18px;
        padding-bottom: 18px;
    }
}