.revolutionary { 
    font-family: $fontFamily1;
    height: 328px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 66px 0 70px;
    @media (max-width: ($mdM+px)) {
        height: 100%;
    }
    &__title { 
        font-size: 54px;
        line-height: 54px;
        font-weight: bold;
        color: #635C73;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 35px;
        @media (max-width: ($mdT+px)) {
            font-size: 42px;
            line-height: 42px;
            padding-bottom: 33px;
        }
        @media (max-width: ($mdM+px)) {
            max-width: 273px;
            font-size: 26px;
            line-height: 28px;
            padding-bottom: 27px;
        }
    }
    &__description { 
        font-family: $fontFamily2;
        font-size: 21px;
        line-height: 32px;
        color: #323232;
        text-align: center;
        padding-top: 35px;
        max-width: 811px;
        @media (max-width: ($mdT+px)) {
            font-size: 21px;
            line-height: 32px;
            padding: 0 40px;
        }
        @media (max-width: ($mdM+px)) {
            font-size: 14px;
            line-height: 20px;
            padding-bottom: 36px;
        }
    }
}

.icons { 
    padding: 13px 10px;
    display: flex;
    gap: 13px;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width: ($mdM+px)) {
        gap: 20px;
    }
    &__item { 
        border: 1px solid rgba(135, 132, 132, 0.2);
        border-radius: 3px;
        display: flex;
        align-items: center;
    }
    &__item-side { 
        display: flex;
        padding: 5px 8px 5px 5px;
        background-color: rgba(135, 132, 132, 0.2);
    }
    &__item-side-text { 
        color: #323232;
        font-weight: 600;
        font-size: 14px;
    }
    &__text { 
        font-size: 13px;
        color: #323232;
        font-weight: 600px;
        padding: 5px 8px 5px 5px;
    }
    .star { 
        padding-right: 2px;
    }
}
