// Font settings:
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic&display=swap);

$fontFamily1: "Montserrat";
$fontFamily2: "Lato";
$mainColor: #8d81ac;

//Container
$maxWidthContainer: 1180px;
// $md1: 991.98;
// $md2: 767.98;
// $md3: 479.98;
// $md4: 320;

$mdD : 992;  
$mdT : 991.98;
$mdM : 767.98;
$mdMs: 467.98;

@import "null";

//Basic styles
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*="__container"] {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.button {
  font-family: $fontFamily1;
  font-weight: 700;
  border-radius: 40px;
}

//Basic styles

// Files import
@import "header";
@import "revolutionary";
@import "here";
@import "about";
@import "pricing";
@import "footer";
// Files import